{% extends "base.html" %}
{% block content %}

<form action="/books/{{book.id}}" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" value="{{book.title}}" name="title" placeholder="Title" required autofocus>
    </div>
    <div>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" value="{{book.genre}}" name="genre" placeholder="Genre" required>
    </div>
    <div>
        <label for="publisher">Publisher:</label>
        <input type="text" id="publisher" value="{{book.publisher}}" name="publisher" placeholder="Publisher" required>
    </div>
    <div>
        <label for="author">Author:</label>
        <select name="author_id" id="author">
            {% for author in all_authors %}
                <option value="{{author.id}}" {% if book.author.id == author.id %} selected="selected" {% endif %}>{{author.first_name}} {{author.last_name}}</option>
            {% endfor %}
        </select>
    </div>
    <hr>
    <button type="submit">Update Book</button>
</form>

{% endblock %}